language: julia
notifications:
  email: false
os:
  - linux
  - osx
  - windows
julia:
  - 1.0
  - 1
  - nightly
before_script:
  - git config --global user.name Tester
  - git config --global user.email te@st.er
matrix:
  fast_finish: true
  allow_failures:
    - julia: nightly
  include:
    - arch: x86
      julia: 1.0
    - stage: Documentation
      julia: 1
      script:
        - git config --global user.name name
        - git config --global user.email email
        - git config --global github.user username
        - |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()
            include("docs/make.jl")'
      after_success: skip
after_success: |
  julia -e '
    using Pkg
    Pkg.add("Coverage")
    using Coverage
    Codecov.submit(process_folder())'
